.root {
  border-bottom: 1px solid #bdbdbd;
}

.root ul {
  width: max-content;
  margin: 0 auto;

  list-style-type: none;
  padding: 0;

  display: flex;
  gap: 120px;
}

.tab {
  padding: 10px 8px;
  transition: all 0.2s;
  border-bottom: solid 4px;
  border-color: transparent;
}

.tabActive {
  border-color: #2f80ed;
}

.button {
  appearance: none;
  cursor: pointer;
  border: none;
  background: transparent;

  font-size: 14px;
}
